@import '../../styles/colors';
@import '../../styles/fonts';

.loginPageMain {
  width: 100%;
  background-color: $background-pages-default;
}

.loginPageLogoImg {
  display: none;
}

.inputsBoxContainer {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 16px;
  margin-top: 12%;
}

.loginPageErrorP {
  font-size: 1rem;
  font-family: $font-family-principal;
  color: $color-error-default;
}

.loginPageDesktopContentContainer {
  display: none;
}

.loginPageForgetPasswordP {
  font-family: $font-family-principal;
  font-size: 0.7rem;
}

.loginPageForgetPasswordP:hover {
  cursor: pointer;
}

.loginPageLoginButton {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 12px;
}

.loginPageDesktopContentContainerSpanMobile {
  display: flex;
  gap: 8px;
  margin-top: 20%;
}

.loginPageDesktopContentContainerSpanAMobile {
  font-family: $font-family-principal;
  font-weight: 700;
  border-bottom: 1px solid $fonte-cor-primaria;
  letter-spacing: 1px;
}

@media (min-width: 576px) {
  .loginPageinputsBox {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .inputsBoxContainer {
    width: 80%;
  }
}

@media (min-width: 768px) {
  .loginPageMain {
    min-height: 100vh;
    background-image: url('../../assets/login-photo-bg.png');
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
  }

  .loginPageForgetPasswordP {
    font-family: $font-family-principal;
    font-size: 1rem;
  }

  .loginPageDesktopContentContainerP {
    font-family: $font-family-principal;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 2;
  }

  .loginPageDesktopContentContainerSpan {
    display: flex;
    gap: 8px;
  }

  .loginPageDesktopContentContainerSpanP {
    font-family: $font-family-principal;
    font-weight: 300;
    letter-spacing: 1px;
  }

  .loginPageDesktopContentContainerSpanA {
    font-family: $font-family-principal;
    font-weight: 700;
    border-bottom: 1px solid $fonte-cor-primaria;
    letter-spacing: 1px;
  }

  .loginPageDesktopContentContainerSpanA>a {
    color: $fonte-cor-primaria;
  }

  .loginPageDesktopContentContainerSpanMobile {
    display: none;
  }

  .loginPageDesktopContentContainer {
    display: block;
  }

  .loginPageLogoImg {
    display: block;
  }

  .loginPageinputsBox {
    width: 50%;
    background-color: $background-pages-default;
    height: 70vh;
    border-radius: 5px;
  }
}

@media (min-width: 992px) {
  .loginPageinputsBox {
    width: 45%;
  }
}