@import '../../styles/colors';
@import '../../styles/fonts';

.inputComponentDiv {
    width: 100%;
}
  
.inputComponentLabel {
    font-family: $font-family-principal;
    font-weight: bold;
    font-size: 0.8rem;
    color: $fonte-cor-primaria;
}
  
.inputComponentLabelError {
    font-family: $font-family-principal;
    font-weight: bold;
    font-size: 0.8rem;
    color: $color-error-default;
}
  
.inputComponentInput {
    border: none;
    border-bottom: 0.5px solid $fonte-cor-primaria;
    width: 100%;
    padding: 8px;
    background-color: $background-pages-default;
}
  
.inputComponentInputError {
    border: none;
    border-bottom: 0.5px solid $color-error-default;
    width: 100%;
    padding: 8px;
    background-color: $background-pages-default;
}