@import '../../styles/colors';
@import '../../styles/fonts';

.inputLabel {
    display: flex;
    font-family: $font-family-principal;
    font-weight: 700;
    padding: 8px 0;
  }
  
  .errorMessage{
    padding: 8px 0;
    font-size: $font-family-principal;
    color: $color-error-default;
}
