@import '../../styles/colors';
@import '../../styles/fonts';

.headerContainer {
  width: 100%;
  height: 181px;
  background-image: url('../../assets/imgLogin.png');
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.headerContainerP {
  font-size: 1rem;
  font-family: $font-family-principal;
  color: $fonte-cor-secundaria;
  padding: 8px;
}

@media (min-width: 576px) {
  .headerContainerP {
    font-size: 1.4rem;
    font-family: $font-family-principal;
    color: $fonte-cor-secundaria;
    padding: 8px;
  }
}
@media (min-width: 768px) {
  .headerContainer {
    width: 50%;
    background-image: unset;
    justify-content: center;
  }

  .headerContainerP {
    display: none;
  }
}
