@import '../../styles/colors';
@import "../../styles/fonts";

.buttonComponentDiv {
  width: 100%;
  padding: 8px 12px;
}

.buttonComponentLabel {
  font-family: $font-family-principal;
  font-weight: 700;
  font-size: 16px;
}

.buttonComponentEnabled {
  color: white;
  background-color: $fonte-cor-primaria;
  cursor: pointer;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonComponentEnabled:hover {
  background-color: #222229;
}

.small {
  width: 40%;
  padding: 4px;
}

.medium {
  width: 60%;
  padding: 8px;
}

.large {
  width: 80%;
  padding: 16px;
}

.ultraLarge {
  width: 100%;
  padding: 24px;
}

.buttonComponentRounded {
  border-radius: 3em;
}